
#tableContainer{
    display: flex;
    justify-content: center;
    align-content: center;
    /* overflow:auto; */
    /* height: 60vh; */
}

table{
    font-size: 2.5vmin;
    border-collapse: collapse;
    width: 100%;
}

tbody{
    background-color: rgb(255, 255, 255);
    width: 100%;
    text-align: center;
}

th {
    padding: 1vmin 1.5vmin;
    border: 0px;
}

tr.data_row {
    cursor: pointer;
}

tr.data_row td{
    padding: 1vmin 1.5vmin;
    border: 0px;
    margin: 0;
    border-bottom: 2px;
    border-color: rgb(232, 232, 232);
    border-style: solid;
}



th{
    color: white;
    /* border-color: black; */
    /* border-style:solid; */
    /* border: 0vmin; */
    background-color: rgb(16, 0, 37);
    /* position: sticky; */
    /* top: 0; */
}

#editBox {
    text-align: left;
    padding: 1vw 2vw 1vw 6vw;
}

.hidden {
    display: none;
}

.txt_btn {
    cursor: pointer;
    color: red;
    margin: 0 5px;
}

.txt_btn:active {
    cursor: pointer;
    color: rgb(170, 0, 0);
}