@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@1,600&family=Permanent+Marker&family=Rubik:wght@300&display=swap');

body {
        overflow: hidden;
        margin: 0px;
        padding: 0px;
        font-size: 12pt;
        font-family: 'Rubik', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Libre Bodoni', serif;
}

#temp{
    font-family: 'Libre Bodoni', serif;
    font-size: 40px;
}