#container{
  background-image: url(../assets/images/city2.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#content{
  grid-row: 2 / span 2 !important;
  grid-column: 1 / span 5;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 90% 50%;
  overflow-x: hidden;
}

h2 {
  font-size: 6vh;
  color: white;
  filter: drop-shadow(5px 7px 2.5px #000000);
  margin: 5vh auto;
}

#username{
  margin: 0 auto;
}

input[type=text],select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#form {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  margin: 1rem 0 3em 0;
  border-radius: 10px;
  background-color: #001d3d;
  color: white;
  font-weight: bolder;
  display: grid;
  grid-template-rows: 2rem 1fr 1fr 1fr 1fr 1fr 1fr 2rem 1fr 2rem;
  grid-template-columns: 2rem 1fr 2rem 1fr 2rem;
  box-shadow: 15px 15px 5px 0px rgba(0,0,0,0.85);
}

#h3 {
  font-size: 3vh;
  text-align: center;
  grid-row: 2 / span 1;
  grid-column: 2 / span 3;
}

#unit {
  grid-row: 3 /span 1;
  grid-column: 2 /span 1;
}

#streetNum {
  grid-row: 4 /span 1;
  grid-column: 2 /span 1;
}

#prefix{
  grid-row: 4 / span 1;
  grid-column: 4 / span 1;
}

#streetName {
  grid-row: 5 / span 1;
  grid-column: 2 / span 1;
}
#streetType{
  grid-row: 5 / span 1;
  grid-column: 4 / span 1;
}
#city {
  grid-row: 6 / span 1;
  grid-column: 2 / span 3;
}

#province {
  grid-row: 7 / span 1;
  grid-column: 2 / span 3;
}

#msg{
  grid-row: 8 / span 1;
  grid-column: 2 / span 3;
}
#submit {
  grid-row: 9 / span 1;
  grid-column: 2 / span 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

#btn{
  background-color: rgb(255, 157, 0); /* Green */
  border: none;
  border-radius: 10px;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#btn:hover{
  background-color: rgb(187, 115, 0);
  cursor: pointer;
}

#formContainer {
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
  overflow: hidden;
}

.required{
  color:#DB3A34;
  font-weight: lighter;
  font-size: small;
}

#footer {
  background-color: rgb(16, 0, 37);
  grid-column: 1 / span 5;
  grid-row: 3;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 2vmin;
  content: ""; 
  display: block; 
}

#previousSearches {
  overflow: hidden;
  align-self: center;
  justify-self: center;
  width: 100%;
  background-color: rgba(0, 29, 61, 0.9);
  text-align: center;
  align-content: center;
  justify-content: center;
  align-items: center;
}

#previousSearches > h1{
  color: white;
  font-size: 40px;
}

#previousSearches > button{
  align-self: center;
  background-color: rgb(0, 66, 128);
  border: none;
  border-radius: 10px;
  margin: 0 auto;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  width: 60%;
}

#previousSearches > button:hover{
  background-color: rgb(0, 52, 100);
  cursor: pointer;
}