@media only screen and (min-width : 1000px){
    #temp{
        grid-column: 1 / span 1;
        grid-row: 1 / span 3;
    }
    
    #temp2{
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
        line-height: 30%;
    }
    
    #intro {
        grid-column: 1 / span 6;
        grid-row: 2 / span 1;
        text-align: center;
        color: black;
    }
}
