/***************** Content Styling ****************/

#content {
  display: grid;
  grid-column: 1 / span 5;
  grid-row: 2;
  grid-template-columns: 100%;
  grid-template-rows: 8% 6% 78% 8%;
  background-color: rgb(16, 0, 37);
  overflow-x: hidden;
}

#content  {
  color: black;
  
}

#prop {
  background-image: url("/assets/images/city1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}

#prop > h1 {
  font-size: 6vmin;
  margin: 0 15px;
  filter: drop-shadow(7px 7px 3px #000000);
  color: white
}

h3{
  font-size: 3.5vh;
  margin: 0 15px;
  padding-top: 4px;
  color: white;
}


#reviews {
  overflow: auto;
  padding: 1rem 2rem 1rem 2rem;
  grid-gap: 10px;
  overflow-x: hidden;
  background-image: url("/assets/images/city6.jpg");
  background-attachment: fixed;
}

.review {
  height: fit-content;
  /* border-style: solid; */
  border-color: rgb(58, 58, 58);
  background-color: rgb(235, 235, 235);
  /* border-radius: 10px;
  padding: 15px; */
  display: grid;
  grid-template-columns: 16.7% 16.7% 16.7% 16.7% 16.7% 16.7% 16.7%;
  border-style: solid;
  border-radius: 20px;
  border-width: 4px;
  padding: 10px;
  padding-bottom: 10px;
  margin: 20px;
  margin-bottom: 25px;
}

.editBtn {
  grid-row: 7;
  grid-column: 6;
}

/* .editBox {
  min-height: 160px;
  border-style: solid;
  border-color: rgb(0, 124, 161);
  background-color: rgb(0, 195, 255);
  border-radius: 10px;
  padding: 15px;
  display: grid;
  grid-template-columns: 16.7% 16.7% 16.7% 16.7% 16.7% 16.7%;
  grid-template-rows: 16.7% 16.7% 16.7% 16.7% 16.7% 16.7%;
} */

.editBox {
  height: fit-content;
  /* border-style: solid; */
  border-color: rgb(58, 58, 58);
  background-color: rgb(235, 235, 235);
  /* border-radius: 10px;
  padding: 15px; */
  display: grid;
  grid-template-columns: 16.7% 16.7% 16.7% 16.7% 16.7% 16.7% 16.7%;
  border-style: solid;
  border-radius: 20px;
  border-width: 4px;
  padding: 10px;
  padding-bottom: 10px;
  margin: 20px;
  margin-bottom: 25px;
}

#richText {
  grid-column: 1 / span 6;
  grid-row: 1 / span 2;
  width: 100%;
  height: 100%;
}

#mytextarea {
  width: 99%;
  height: 124px;
}

#errMsg {
  color: red;
  
}

#photoCollection {
  grid-column: 1 / span 6;
  grid-row: 3 / span 2;
}

#imgUpload {
  grid-column: 5 / span 2;
  grid-row: 5;
  display: block;
  margin-left: auto;
  margin-right: 0;
}

#cancelBtn {
  grid-column: 5;
  grid-row: 6;
  display: block;
  margin-left: auto;
  margin-right: 0;
}


#submitBtn {
  grid-column: 6;
  grid-row: 6;
  display: block;
  margin-left: auto;
  margin-right: 0;
}

.hidden {
  display: none;
}

#photo1{
  height: 200px;
  width: 300px;
  padding: 5px 10px;
}

#errMsg {
  grid-column: 1 / span 5;
  grid-row: 5;
  justify-content: center;
}

.name {
  grid-column: 1 / span 4;
  grid-row: 1 / span 1;
  padding: 10px;
  padding-bottom: 20px;
  font-weight: bold;
  font-size: x-large;
}

.rev {
  grid-column: 1 / span 6;
  grid-row: 2 / span 2;
  height: fit-content;
  padding: 10px;
}

.images {
  grid-column: 1 / span 6;
  grid-row: 4 / span 1;
  height: fit-content;
  display: inline-block;
  text-align: center;
  padding: 10px;
}

.images > img, #photoCollection > img{
  width: 50vw;
}

.createTime {
  grid-column: 5 / span 2;
  grid-row: 1 /  span 1;
}

.editTime {
  grid-column: 1 / span 3;
  grid-row: 5 /  span 1;
  /* display: flex;
  flex-direction: column;
  justify-content: flex-end; */
}

.editBtn {
  grid-column: 6;
  grid-row: 2;
  background-color: rgb(255, 157, 0);
  border: none;
  border-radius: 10px;
  color: white;
  padding: 1vh 3vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2vw;
}

.editBtn:hover{
  background-color: rgb(187, 115, 0);
  cursor: pointer;
}

#buttons {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  border-radius: 10px;
  overflow: hidden;
  padding: 1.5vmin;
  background-image: url("/assets/images/city6.jpg");

  background-attachment: fixed;
}

#load {
  grid-column: 1;
}

#post {
  grid-column: 3;
  margin-right: 0;
  margin-left: auto;
}

button {
  font-size: 2.3vh;
  background-color: rgb(255, 157, 0);
  border-style: none;
  padding: 10px 24px;
  
  color: white;
  height: 95%;
}

button:hover {
  background-color: rgb(218, 134, 0);
  cursor: pointer;
}

.viewButton {
  border-radius: 10px;
}

@media only screen and (max-width: 1024px) and (min-width: 401px) {
  
  #buttons {
    grid-template-columns: 100%;
  }

  #load {
    grid-column: 1;
    grid-row: 1;
    display: none;
  }
  
  #post {
    grid-column: 1;
    grid-row: 2;
    margin-left: 0;
  }  

  .viewButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    border-radius: 10px;
    margin: 0 auto;
  }

  #filler {
    display: none;
  }
}

@media only screen and (max-width: 400px) {
  #content {
    grid-template-columns: 100%;
    grid-template-rows: 10% 10% 70% 10%;
  }

  #reviews {
    overflow: auto;
    padding: 1rem 2rem 1rem 2rem;
    grid-gap: 10px;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
  }
  
  .review {
    min-height: 300px;
    border-style: solid;
    border-radius: 10px;
    padding: 15px;
    display: grid;
    grid-template-columns: 80% 20%;
  }
  #richText {
    grid-column: 1 / span 6;
    grid-row: 1 / span 2;
    width: 100%;
    height: 100%;
  }
  
  #mytextarea {
    width: 99%;
    height: 124px;
  }
  
  #errMsg {
    color: red;
    display: none;
  }
  
  #photoCollection {
    grid-column: 1 / span 6;
    grid-row: 3;
  }
  
  #imgUpload {
    grid-column: 1 / span 2;
    grid-row: 5;
    display: block;
    margin-left: auto;
    margin-right: 0;
  }

  #uploadButton{
    padding: 1px 2px;
  }
  
  #cancelBtn {
    align-self: center;
    grid-column: 5;
    grid-row: 5;
    display: block;
    margin-left: auto;
    margin-right: 0;
  }
  
  #submitBtn {
    grid-column: 5;
    grid-row: 6;
    display: block;
    margin-left: auto;
    margin-right: 0;
  }

  .name {
    grid-column: 1;
    grid-row: 1 / span 2;
  }
  
  .rev {
    grid-column: 1;
    grid-row: 2 / span 2;
  }
  
  .images {
    grid-column: 1 / span 1;
    grid-row: 3/ span 6;
  }

  .images > img{
    width: 50vw;
  }
  
  .createTime {
    visibility: hidden;
    grid-column: 4 / span 3;
    grid-row: 5 /  span 2;
  }

  .editBtn{
    grid-column: 2;
    grid-row: 1;
    background-color: rgb(255, 157, 0);
   border: none;
    border-radius: 30px;
    color: white;
    padding: 4px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
  }
  
  .editTime {
    visibility: hidden;
    grid-column: 5 / span 3;
    grid-row: 5 /  span 2;
  }
  
  #buttons {
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
  }

  #load {
    grid-column: 1;
    grid-row: 1;
  }
  
  #post {
    grid-column: 1;
    grid-row: 2;
    margin-left: 0;
  }  

  .viewButton {
    display: block;
    width: 50%;
    border-radius: 10px;
    margin: 0 auto;
  }

  #filler {
    display: none;
  }
}
