
#content {
  display: grid;
  grid-template-columns: 3% 94% 3%;
  background-image: url("/assets/images/city4.jpg");
}

#userHistory {
  grid-column: 2;
  padding: 10px;
}

#userHistory > * {
  font-size: 20px;

}

.timeLineItem {
  display: grid;
  grid-template-rows: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5;
  grid-template-columns: 16.7% 16.7% 16.7% 16.7% 16.7% 16.7% 16.7%;
  border-style: solid;
  border-radius: 20px;
  border-width: 4px;
  padding: 10px;
  padding-bottom: 10px;
  margin: 20px;
  margin-bottom: 25px;
  border-color: rgb(58, 58, 58);
  background-color: rgb(235, 235, 235);
}

.address {
  grid-column: 1 / span 3;
  grid-row: 1;
  text-align: left;
  padding: 10px;
  padding-bottom: 20px;
  font-weight: bold;
  font-size: larger;
}

.image {
  grid-column: 1 / span 6;
  grid-row: 3 / span 1;
  height: fit-content;
  display: inline-block;
  text-align: center;
  padding: 10px;
}

.image img {
  height: 200px;
  width: 300px;
  padding: 5px 10px;
  }

.review {
  grid-column: 1 / span 6;
  grid-row: 2 / span 1;
  height: fit-content;
  padding: 10px;
  padding-bottom: 20px;

}

.message {
  grid-column: 2 / span 4;
  grid-row: 4;
  font-size: 15px;
  min-height: 20px;
}

.initPostTime {
  grid-column: 5 / span 2;
  grid-row: 1 / span 1;
  font-size: 15px;

}

.lastEditTime {
  grid-column: 1 / span 2;
  grid-row: 11;
  font-size: 15px;
}

.editBtn {
  grid-column: 6;
  grid-row: 4;
  min-height: 20px;

}